@font-face {
  font-family: mulish;
  src: url(./font/Mulish-VariableFont_wght.ttf);
}

body {
  font-family: 'mulish';
  color: $text-primary;
}

.q-field--error .q-field__bottom {
  padding-left: 0;
}
.q-icon.text-negative {
  font-size: 18px;
}
.q-form .mw-input {
 min-width: 232px;
}
.fpt-header {
  background-image: url("../assets/fpt_bar_background.png");
  position: sticky;
  top: 0;
  z-index: 1;
  // border-radius: 0px 0px 30% 30%;
}

.fpt-bg-gradient {
  background: linear-gradient(to top, #345734 0%, black 100%);
}

.bg-main-secondary {
  background: $background-third;
}

.main-card {
  border-radius: 15px !important;
}

.rounded-input .q-field--outlined .q-field__control {
  border-radius: 15px !important;
}

.rounded-input .q-field--outlined .q-field__control:before {
  border: 1px solid $background-secondary !important;
}
