.q-field--error .q-field__bottom {
  padding-left: 0;
}
.q-icon.text-negative {
  font-size: 18px;
}
.q-form .mw-input {
 min-width: 232px;
}
.fpt-header {
  background-image: url("../assets/fpt_bar_background.png");
  position: sticky;
  top: 0;
  z-index: 1;
  // border-radius: 0px 0px 30% 30%;
}
