.q-field--error .q-field__bottom {
  padding-left: 0;
}
.q-icon.text-negative {
  font-size: 18px;
}
.q-form .mw-input {
 min-width: 232px;
}

.bg-login {
  background-image: url("src/assets/blob-scene-haikei.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
